@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.notched-shape {
	--border: 2px;
	--slant: 1em;
	--color: white;

	border: none;
	cursor: pointer;
	color: var(--color);
	background: linear-gradient(to top left, var(--color) 50%, #0000 50.1%)
			bottom right,
		linear-gradient(to bottom right, var(--color) 50%, #0000 50.1%) top left;
	background-size: calc(var(--slant) + 1.3 * var(--border))
		calc(var(--slant) + 1.3 * var(--border));
	background-repeat: no-repeat;
	box-shadow: 0 0 0 200px inset var(--s, #0000),
		0 0 0 var(--border) inset var(--color);
	-webkit-clip-path: polygon(
		0 var(--slant),
		var(--slant) 0,
		100% 0,
		100% calc(100% - var(--slant)),
		calc(100% - var(--slant)) 100%,
		0 100%
	);
	clip-path: polygon(
		0 var(--slant),
		var(--slant) 0,
		100% 0,
		100% calc(100% - var(--slant)),
		calc(100% - var(--slant)) 100%,
		0 100%
	);

	&-sm {
		--slant: 0.7em;
	}

	&-black {
		--color: black;
	}
}

.oval-shape {
	--border: 2px;
	--color: white;
	--s: #0000;

	border: none;
	cursor: pointer;
	color: var(--color);
	background: linear-gradient(to top left, var(--color) 50%, #0000 50.1%) bottom right,
	  linear-gradient(to bottom right, var(--color) 50%, #0000 50.1%) top left;
	background-size: calc(1.3 * var(--border)) calc(1.3 * var(--border));
	background-repeat: no-repeat;
	box-shadow: 0 0 0 200px inset var(--s, #0000), 0 0 0 var(--border) inset var(--color);
	border-radius: 9999px;

	&-sm {
		--border: 1.5px;
	}

	&-black {
		--color: black;
	}
}